<div class="chart-content">
    <div class="header">
      <h3>Charts</h3>
    </div>
    <div class="body">
      <div class="timeframe-filter">
        <label for="timeframe">Timeframe:</label>
        <select id="timeframe" (change)="changeTimeframe($event)">
          <option value="year">Year</option>
          <option value="month">Month</option>
          <option value="day">Day</option>
          <option value="hour">Hour</option>
          <option value="minute">Minute</option>
        </select>
      </div>
      <div echarts [options]="lineChartOptions" class="chart"></div>
      <div echarts [options]="candlestickChartOptions" class="chart"></div>
    </div>
  </div>
  