<div className="chart-content">
    <div className="header">
      <h3>Charts</h3>
    </div>
    <div className="body">
      <div className="timeframe-filter">
        <label for="timeframe">Timeframe:</label>
        <select id="timeframe" (change)="changeTimeframe($event)">
          <option value="year">Year</option>
          <option value="month">Month</option>
          <option value="day">Day</option>
          <option value="hour">Hour</option>
          <option value="minute">Minute</option>
        </select>
      </div>
      <div echarts [options]="lineChartOptions" className="chart"></div>
      <div echarts [options]="candlestickChartOptions" className="chart"></div>
    </div>
  </div>
  